p {
  margin: 0;
}

#editor {
  position: relative;
}

.ProseMirror {
  padding: 24px;
  border: 1px solid #333;
}

.ProseMirror-selectednode {
  outline: 2px solid #8cf;
}

img.dinosaur {
  height: 40px;
  vertical-align: bottom;
  border: 1px solid #0ae;
  border-radius: 4px;
  background: #ddf6ff;
}

.tooltip {
  position: absolute;
}

p.boring {
  background: #eee;
  color: #444;
}

.menubar > span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #eee;
}

placeholder {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #eee;
}

note,
notegroup {
  display: block;
  border: 1px solid silver;
  border-radius: 3px;
  padding: 3px 6px;
  margin: 5px 0;
}

notegroup {
  border-color: #66f;
}
